<div class="login-container">
  <div class="layer">
    <div class="some-space">
      <div class="form">
        <h2>大数据可视化平台</h2>
        <div class="item">
          <i class="iconfont icon-user"></i>
          <input autocomplete="off" type="text" class="input" [(ngModel)]="data.userName" placeholder="请输入用户名" />
        </div>
        <div class="item">
          <i class="iconfont icon-password"></i>
          <input autocomplete="off" type="password" class="input" [(ngModel)]="data.userPwd" maxlength="20" placeholder="请输入密码" />
        </div>
        <button class="loginBtn" (click)="submit()">立即登录</button>
        <div class="tip">默认用户名：admin ，默认密码：123456</div>
      </div>
    </div>
  </div>

  <particles [params]="params"></particles>
  
  <ul class="slide-box">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  

</div>